{% load static %}
{% load i18n %}
{% load home_tags %}
<tr role="row" class="odd">
{#    <td>{{ list_i }}</td>#}
    <td>{% if totalTime %}{{ totalTime|sectodur }}{% else %} {% trans 'No duration' %} {% endif %}</td>
    <td>{{ check_in_date }}</td>
    <td>
        <a href="{% if check_in_image_url %}{{ check_in_image_url }}{% else %}{% static 'main/assets/pages/media/users/icon-user.png' %}{% endif %}" class="example-image-link" data-lightbox="example-1">
            <img class="example-image"  style="height:50px;" src="{% if check_in_image_url %}{{ check_in_image_url }}{% else %}{% static 'main/assets/pages/media/users/icon-user.png' %}{% endif %}"></a></td>
    <td>{{ check_out_date }}</td>
    <td>
        <a href="{% if check_out_image_url %}{{ check_out_image_url }}{% else %}{% static 'main/assets/pages/media/users/icon-user.png' %}{% endif %}" class="example-image-link" data-lightbox="example-1">
            <img class="example-image"  style="height:50px;" src="{% if check_out_image_url %}{{ check_out_image_url }}{% else %}{% static 'main/assets/pages/media/users/icon-user.png' %}{% endif %}">
        </a>
    </td>
    <td>{{ place_name }}</td>
    <td>{{ date }}</td>
    <td><a href="{{ url }}" class="btn dark btn-sm btn-outline sbold uppercase"><i class="fa fa-eye"></i> View</a></td>
</tr>