{% load static %}
{% load i18n %}
<tr role="row" class="odd">

    <td>
        {{ count }}
    </td>
    <td>
        {{ name }}
    </td>
    <td>
        {{ customer_name }}
    </td>
    <td>
        {{ address }}
    </td>

</tr>