{% load static %}
{% load i18n %}
<tr role="row" class="odd" id="place-list-item-{{ place_id }}">
{#    <td>{{ list_i }}</td>#}
    <td>{{ name }}</td>
{#    <td>{{ address }}</td>#}
        <td>
            {{ customer_name }}
        </td>
        <td>
            {{ address }}
        </td>
{#    <td>#}
{#        <a class="example-image-link" href="{{ check_in_image_url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">#}
{#            <img class="example-image" style="height:50px;" src="{{ check_in_image_url }}" alt=""/>#}
{#        </a>#}
{#    <td>{{ check_out_date }}</td>#}
{#    <td>#}
{#        <a class="example-image-link" href="{{ check_out_image_url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">#}
{#            <img class="example-image" style="height:50px;" src="{{ check_out_image_url }}" alt=""/>#}
{#        </a>#}
{#    </td>#}
{#    <td>{{ date }}</td>#}
    {% if base_user_profile.user_type == 1 %}
        <td>
            <a href="{% url 'home:company-edit' place_id %}" class="btn dark btn-sm btn-outline sbold uppercase"><i class="fa fa-pencil"></i> Edit</a>
            <a href="javascript:void(0);" onclick="deleteItem('{{ place_id }}','{% url 'home:company-remove' place_id %}');" class="btn dark btn-sm red  btn-outline sbold uppercase"><i class="fa fa-times"></i> Remove</a>
        </td>
    {% endif %}
</tr>