{% load static %}
{% load i18n %}
{% load home_tags %}

<tr style="background: {% if checkin %}#dbf9ec{% else %} antiquewhite{% endif %};">
    <td style="background: {% if checkin %}#dbf9ec{% else %} antiquewhite{% endif %};">{% if checkin %} Check in -  {% else %} Check out - {% endif %}<strong>{{ counter }}</strong></td>
    <td style="background: {% if checkin %}#dbf9ec{% else %} antiquewhite{% endif %};">{% if totalTime %}{{ totalTime|sectodur }}{% else %}{% trans 'No duration' %}{% endif %}</td>
    <td style="background: {% if checkin %}#dbf9ec{% else %} antiquewhite{% endif %};">{{ date }}</td>
    <td style="background: {% if checkin %}#dbf9ec{% else %} antiquewhite{% endif %};">
        <a href="{{ imageUrl }}" class="example-image-link" data-lightbox="example-1"><img class="example-image"  style="height:50px;" src="{{ imageUrl }}"></a>
    </td>
    <td style="background: {% if checkin %}#dbf9ec{% else %} antiquewhite{% endif %};">
        {{ location.longitude }} , {{ location.latitude }}
    </td>
</tr>

