{% load i18n %}
<a onclick="preparePlan()" {% if base_plan_log %} disabled="disabled" {% endif %} id="plan-prepare-button" data-ajax-url="{% url 'userprofile:plan-prepare-ajax' %}"
   class="col-md-12  btn btn-md btn-circle red easy-pie-chart-reload">
    <i class="fa fa-repeat"></i> {% trans 'Prepare Plan' %}
</a>