{% extends 'main_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load home_tags %}
{% load i18n %}
{% block title_container %}
    {% trans 'Dashboard' %}
{% endblock %}


{% block head_container %}


{% endblock %}


{% block head_under_container %}

        <link href="{% static 'main/assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{% static 'main/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'main/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->

{% endblock %}


{% block content_container %}


            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{% trans 'Dashboard' %}
{#                                <small>statistics, charts, recent events and reports</small>#}
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="{% url 'home:dashboard' %}">{% trans 'Dashboard' %}</a>
                            <i class="fa fa-circle"></i>
                        </li>
{#                        <li>#}
{#                            <span class="active">Dashboard</span>#}
{#                        </li>#}
                    </ul>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <!-- BEGIN DASHBOARD STATS 1-->
                    {% if base_user_profile.user_type == 1 or base_user_profile.user_type == '1' %}
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a class="dashboard-stat dashboard-stat-v2 blue" href="{% url 'home:general-all-user' 'customers' %}">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span>{% trans 'All Customers' %}</span>
                                        </div>
                                        <div class="desc"> {% trans 'Details' %} </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a class="dashboard-stat dashboard-stat-v2 red" href="{% url 'home:general-all-user' 'employees' %}">
                                    <div class="visual">
                                        <i class="fa fa-bar-chart-o"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span>{% trans 'All Employees' %} </span>
                                        </div>
                                        <div class="desc"> {% trans 'Details' %} </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a class="dashboard-stat dashboard-stat-v2 green" href="{% url 'home:sign-up' %}">
                                    <div class="visual">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span >{% trans 'Add User' %}</span>
                                        </div>
                                        <div class="desc"> {% trans 'Details' %} </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a class="dashboard-stat dashboard-stat-v2 purple" href="{% url 'home:employee-add-to-customer' %}">
                                    <div class="visual">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number"> {% trans 'Employee add to customer' %}
                                            <span ></span></div>
                                        <div class="desc"> {% trans 'Details' %} </div>
                                    </div>
                                </a>
                            </div>
                        <div class="clearfix"></div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a class="dashboard-stat dashboard-stat-v2 blue" href="{% url 'home:employee-search-works' %}">
                                    <div class="visual">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span>{% trans 'Search Employee Daily Checks' %}</span>
                                        </div>
                                        <div class="desc"> {% trans 'Search' %} </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if base_user_profile.user_type == 2 or base_user_profile.user_type == '2' %}
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <a class="dashboard-stat dashboard-stat-v2 red" href="{% url 'home:customer-works-list'%}">
                                    <div class="visual">
                                        <i class="fa fa-comments"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span>{% trans 'My Work List' %}</span>
                                        </div>
                                        <div class="desc"> {% trans 'Details' %} </div>
                                    </div>
                                </a>
                            </div>
{#                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">#}
{#                                <a class="dashboard-stat dashboard-stat-v2 red" href="{% url 'home:general-all-user' 'employees' %}">#}
{#                                    <div class="visual">#}
{#                                        <i class="fa fa-bar-chart-o"></i>#}
{#                                    </div>#}
{#                                    <div class="details">#}
{#                                        <div class="number">#}
{#                                            <span>{% trans 'All Employees' %} </span>#}
{#                                        </div>#}
{#                                        <div class="desc"> {% trans 'Details' %} </div>#}
{#                                    </div>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="clearfix"></div>#}

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <a class="dashboard-stat dashboard-stat-v2 blue" href="{% url 'home:employee-search-works' %}">
                                    <div class="visual">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span>{% trans 'Search Employee Daily Checks' %}</span>
                                        </div>
                                        <div class="desc"> {% trans 'Search' %} </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                    <!-- END PAGE BASE CONTENT -->


                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Work Daily Search</h2>
                            <hr/>
                        </div>
                        <div class="col-md-12">
                            <div class="clearfix">
                                <a href="javascript:;" onclick="search_employeeWorks()" class="btn blue btn-block"><i class="fa fa-search"></i> &nbsp; Search </a>
                            </div>
                            <hr/>
                        </div>
                        <div class="col-md-12">
                            <form method="post" action="{% url 'home:work-page-search' %}" id="employee_work_search_form">
                                {% csrf_token %}
                                <div class="row">
                                    {% if base_user_profile.user_type == 1 or base_user_profile.user_type == '1' %}
                                    <div class="col-md-6">
                                        {{ work_search_form.customer }}
                                    </div>
                                    {% endif %}
                                    <div class="{% if base_user_profile.user_type == 2 or base_user_profile.user_type == '2' %} col-md-12{% else %} col-md-6{% endif %}">
                                        <div class="input-group date date-picker margin-bottom-5" data-date-format="dd-mm-yyyy">
                                            {{ work_search_form.date }}
                                            <span class="input-group-btn">
                                                        <button class="btn btn-sm default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12">
                            <hr>
                                <div class="clearfix">
                                    <a href="javascript:;" onclick="resetForm()" class="btn red btn-block"><i class="fa fa-times"></i> &nbsp; Reset </a>
                                    <a href="javascript:;" onclick="search_employeeWorks()" class="btn blue btn-block"><i class="fa fa-search"></i> &nbsp; Search </a>
                                </div>
                            <hr>
                        </div>
                        <div class="col-md-12" id="total-time-div" style="display: none;">
                            <div class="portlet light bordered text-center" style="margin-top: 15px;">
                                <div class="portlet-title">
                                    <div class="caption" style="    float: none;">
                                        <i class="icon-cursor font-dark hide"></i>
                                        Total time: <span class="caption-subject font-dark bold uppercase" id="total-time-value"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" id="employee-work-list">
                        </div>
                        <div class="col-md-12" style="text-align: center">
                            <img style="display: none;margin: 0 auto;" id="ajax-loader" src="{% static 'main/assets/images/gears.gif' %}">
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

{% endblock %}


{% block js_block %}


    <script src="{% static 'main/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'main/assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="{% static 'main/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'main/assets/pages/scripts/components-select2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/assets/pages/scripts/table-datatables-responsive.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <script>
        $("#id_customer").val('');
        function resetForm() {
            $('#employee_work_search_form').trigger("reset");
            $("#id_customer").val('');
            $('#id_customer').select2({
                placeholder: "Customer"});
                $("#id_date").val('');
        }
    </script>
    <script>
        dateTimeOptions = {
            'format': 'dd-mm-yyyy',
            'autoclose': false,
            'showMeridian': true
        };
        $("input[name='date']").datepicker(dateTimeOptions);
        {#widgets = {#}
        {#    #NOT Use localization and set a default format#}
        {#    'datetime': DateTimeWidget(options = dateTimeOptions)#}
        {#    }#}
    </script>
    <script>
{#        $('#id_employee').on('change', function () {#}
{#            alert(this.value);#}
{#            $('#selected-employee-name').text($(this).find("option:selected").text());#}
{#        })#}
    </script>
    <script>
           function search_employeeWorks() {
               var search_form = $('#employee_work_search_form');
               var url = search_form.attr("action");
               var employee_work_list = $('#employee-work-list');
                var total_time_value = $('#total-time-value');
                var total_time_div = $('#total-time-div');
               employee_work_list.html('');
               var ajax_loader = $('#ajax-loader');
                ajax_loader.show();
            total_time_div.hide();
                $.ajax({
                    url: url, // the endpoint,commonly same url
                    dataType: "json",
                    type: "POST",
                    data: search_form.serialize(),
                    success: function (result) {
                        total_time_div.show();
                        ajax_loader.hide();
                        employee_work_list.html(result['html']);
                        total_time_value.html(result['total_time']);
                        $('#selected-employee-name').text($('#id_employee').find("option:selected").text());
                    },
                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        ajax_loader.hide();

                    }
                });

            }
{#        $( document ).ready(function() {#}
{#            search_employeeWorks();#}
{#        });#}
    </script>

{% endblock %}

