{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}
{% block title_container %}
    {% trans 'Employees' %}
{% endblock %}


{% block head_container %}
{% endblock %}
{% block head_under_container %}

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'main/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->

{% endblock %}


{% block content_container %}

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Employees
{#                                <small>responsive extension demos</small>#}
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="{% url 'home:dashboard' %}">Dashboard</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">Employees</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->

                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet box red">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-globe"></i>Employees List</div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_4">
                                        <thead>
                                            <tr>
                                                <th class="all">Photo</th>
                                                <th class="all">Full name</th>
                                                <th class="min-tablet">Status</th>
                                                <th class="min-tablet">Phone</th>
                                                <th class="min-tablet">Actions</th>
{#                                                <th class="none">Id</th>#}
{#                                                <th class="none">User Type</th>#}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for all_data_list_item in all_data_list %}
                                                <tr>
                                                    <td>
                                                        <a href="{% if all_data_list_item.image %}{{ all_data_list_item.image }}{% else %}{% static 'main/assets/pages/media/users/icon-user.png' %}{% endif %}" class="example-image-link" data-lightbox="example-1"><img class="example-image"  style="height:50px;" src="{% if all_data_list_item.image %}{{ all_data_list_item.image }}{% else %}{% static 'main/assets/pages/media/users/icon-user.png' %}{% endif %}"></a>
                                                    </td>
                                                    <td>{{ all_data_list_item.name }}</td>
                                                    <td>{% if all_data_list_item.status %}
                                                            <span class="badge badge-success"> ✓ </span>
                                                        {% else %}
                                                            <span class="badge badge-danger"> x </span>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ all_data_list_item.phone }}</td>
                                                    <td>
                                                        <a href="{% url 'home:employee_page' all_data_list_item.id %}" class="btn dark btn-sm btn-outline sbold uppercase">
                                                            <i class="fa fa-eye"></i> View </a> |
                                                        <a href="{% url 'home:edit-user' 'employee' all_data_list_item.id %}" class="btn btn-outline btn-circle btn-sm purple">
                                                            <i class="fa fa-edit"></i> Edit </a>
                                                    </td>
{#                                                    <td>{{ all_data_list_item.id }}</td>#}
{#                                                    <td>{{ all_data_list_item.user_type }}</td>#}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

{% endblock %}


{% block js_block %}


        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'main/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'main/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'main/assets/pages/scripts/table-datatables-responsive.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->

{% endblock %}

