{% load static %}
{% load i18n %}
<tr>
    <td>{{ list_i }}</td>
    <td>
        <a href="{% if employee_item_val.image %}{{ employee_item_val.image }}{% else %}{% static 'main/assets/pages/media/users/icon-user.png' %}{% endif %}" class="example-image-link" data-lightbox="example-1">
            <img class="example-image"  style="height:40px;" src="{% if employee_item_val.image %}{{ employee_item_val.image }}{% else %}{% static 'main/assets/pages/media/users/icon-user.png' %}{% endif %}">
        </a>
    </td>
    <td>{{ employee_item_val.name }}</td>
    <td>{{ employee_item_val.phone }}</td>
    <td>{{ placeEmployeesRef_item_val.start_date }}</td>
    <td>{{ placeEmployeesRef_item_val.end_date }}</td>
    <td>
        <a href="{% url 'home:employee_page' employee_item_id %}" class="btn dark btn-sm btn-outline sbold uppercase">
            <i class="fa fa-eye"></i> View </a>
    </td>
{#                                                        <td>{{ all_data_list_item.user_type }}</td>#}
</tr>