{% load static %}
{% load i18n %}
<link href="{% static 'main/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
      rel="stylesheet" type="text/css"/>
<link href="{% static 'main/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
      rel="stylesheet" type="text/css"/>

<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i><span id="selected-employee-name">{% trans 'Customer' %}</span> {% trans 'List' %}
        </div>
        <div class="tools"></div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dt-responsive" width="100%"
               id="sample_4">
            <thead>
            <tr>
{#                <th class="all">id</th>#}
                <th class="all">{% trans 'Index' %}</th>
                <th class="all">{% trans 'Photo' %}</th>
                <th class="all">{% trans 'Full name' %}</th>
                <th class="all">{% trans 'Email' %}</th>
                <th class="all">{% trans 'Phone' %}</th>
                <th class="all">{% trans 'Status' %}</th>
                <th class="min-tablet">/</th>
                {#                                                <th class="none">User Type</th>#}
            </tr>
            </thead>
            <tbody>
            {% autoescape off %}
                {{ html }}
            {% endautoescape %}

            </tbody>
        </table>
    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<script src="{% static 'main/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
<script src="{% static 'main/assets/global/plugins/datatables/datatables.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}"
        type="text/javascript"></script>
{#<script src="{% static 'main/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"#}
{#        type="text/javascript"></script>#}
<script src="{% static 'main/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'main/assets/pages/scripts/table-datatables-responsive.min.js' %}"
        type="text/javascript"></script>

{#<script>#}
{#    $("#sample_4").dataTable({#}
{#       "aaSorting" : [[1,"asc"]],#}
{#       "bDestroy":true#}
{#    });#}
{#</script>#}