{% load static %}
{% load i18n %}
<tr id="list-item-{{ list_item_id }}">
    <td>{{ index }}</td>
    <td>
        <a href="{% if list_item.image %}{{ list_item.image }}{% else %}{% static 'main/assets/pages/media/users/icon-user.png' %}{% endif %}" class="example-image-link" data-lightbox="example-1">
            <img class="example-image"  style="height:40px;" src="{% if list_item.image %}{{ list_item.image }}{% else %}{% static 'main/assets/pages/media/users/icon-user.png' %}{% endif %}">
        </a>
    </td>
    <td>{{ list_item.name }}</td>
    <td>{{ list_item.email }}</td>
    <td>{{ list_item.phone }}</td>
    <td>{% if list_item.status %}
            <span class="badge badge-success"> ✓ </span>
        {% else %}
            <span class="badge badge-danger"> x </span>
        {% endif %}
    </td>
    <td>
        <a href="{% url 'home:employee_page' list_item_id %}" class="btn dark btn-sm btn-outline sbold uppercase">
            <i class="fa fa-eye"></i> View </a>
        <a href="{% url 'home:edit-user' 'employee' list_item_id %}" class="btn btn-outline btn-circle btn-sm purple">
            <i class="fa fa-edit"></i> Edit </a>
            <a href="javascript:void(0);" onclick="deleteItem('{{ list_item_id }}','{% url 'home:remove-user' 'employee' list_item_id %}');" class="btn dark btn-sm red  btn-outline sbold uppercase"><i class="fa fa-times"></i> Remove</a>
    </td>
{#                                                    <td>{{ list_item_id }}</td>#}
{#                                                    <td>{{ list_item.user_type }}</td>#}
</tr>