{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}

{% block title_container %}
{% trans 'Employees add to Customer' %}
{% endblock %}



{% block head_container %}


{% endblock %}


{% block head_under_container %}

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'main/assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'main/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/clockface/css/clockface.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css"
          type="text/css"/>
{% endblock %}


{% block content_container %}


            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="{% url 'home:dashboard' %}">Dashboard</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">{% trans 'Employess add to Customer' %}</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12 ">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject font-dark sbold uppercase">{% trans 'Employees add to Customer' %}</span>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <form class="form-horizontal" role="form" action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">{% trans 'Place' %}</label>
                                                <div class="col-md-9">
                                                    {{ customer_employee_form.place }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Employees</label>
                                                <div class="col-md-9">
                                                    {{ customer_employee_form.employees }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 col-md-3 col-sm-3 control-label">Start Date</label>
                                                <div class="col-lg-6 col-md-7 col-sm-8">
                                                    <div class="input-group date form_datetime bs-datetime" data-date="{{ now.year }}-01-16T05:25:07Z" data-date-format="Y-MM-D HH:mm:ss">
                                                        {{ customer_employee_form.start_date }}
{#                                                        <input class="form-control" size="16" type="text" value="" readonly>#}
                                                        <span class="input-group-addon">
                                                            <button class="btn default date-reset" type="button">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </span>
                                                        <span class="input-group-addon">
                                                            <button class="btn default date-set" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-lg-3 col-md-3 col-sm-3 control-label">End Date</label>
                                                <div class="col-lg-6 col-md-7 col-sm-8">
                                                    <div class="input-group date form_datetime bs-datetime" data-date="{{ now.year }}-01-16T05:25:07Z" data-date-format="Y-MM-D HH:mm:ss">
                                                        {{ customer_employee_form.end_date }}
{#                                                        <input class="form-control" size="16" type="text" value="" readonly>#}
                                                        <span class="input-group-addon">
                                                            <button class="btn default date-reset" type="button">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                        </span>
                                                        <span class="input-group-addon">
                                                            <button class="btn default date-set" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn green">Submit</button>
                                                    <button type="button" class="btn default">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

{% endblock %}


{% block js_block %}

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'main/assets/global/plugins/select2/js/select2.full.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/pages/scripts/components-select2.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <script src="{% static 'main/assets/global/plugins/moment.min.js' %}" type="text/javascript"></script>
{#        <script src="{% static 'main/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'main/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'main/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}" type="text/javascript"></script>#}
        <script src="{% static 'main/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>
{#        <script src="{% static 'main/assets/global/plugins/clockface/js/clockface.js' %}" type="text/javascript"></script>#}
{#        <script src="{% static 'main/assets/pages/scripts/components-date-time-pickers.min.js' %}" type="text/javascript"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>
        <script>
            dateTimeOptions = {
            'format': 'yyyy-mm-dd hh:ii',
            'autoclose': false,
            'showMeridian' : true
            };
            $('#id_start_date').datetimepicker(dateTimeOptions);
            $('#id_end_date').datetimepicker(dateTimeOptions);
            {#widgets = {#}
            {#    #NOT Use localization and set a default format#}
            {#    'datetime': DateTimeWidget(options = dateTimeOptions)#}
{#    }#}
    </script>
    {% if success_message %}
        <script>

            $(document).ready(function () {
                swal(
                    '{{ success_message }}',
                    '',
                    'success'
                );
            });

        </script>
    {% endif %}
{% endblock %}

