{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load home_tags %}


{% block title_container %}
{% trans 'Employee Daily Search' %}
{% endblock %}


{% block head_container %}
{% endblock %}

{% block head_under_container %}

    <link href="{% static 'main/assets/global/plugins/select2/css/select2.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/assets/global/plugins/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{% static 'main/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'main/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->



{% endblock %}


{% block content_container %}
    <style>
        .gmaps {
            height: 500px;
        }
    </style>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>{% trans 'Employee Daily Search' %}
                        <small></small>
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{% url 'home:dashboard' %}">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="{% url 'home:general-all-user' 'employees' %}">Employees</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="{% url 'home:general-all-user' 'customers' %}">Customers</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span class="active">{% trans 'Search' %}</span>
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->


            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <h2>{% trans 'Employee Daily Search' %}</h2>
                    <hr/>
                </div>
                <div class="col-md-12">
                    <div class="clearfix">
                        <a href="javascript:;" onclick="search_employeeWorks()" class="btn blue btn-block"><i class="fa fa-search"></i> &nbsp; Search </a>
                    </div>
                    <hr/>
                </div>
                <div class="col-md-12">
                    <form method="post" action="" id="employee_work_search_form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                {{ employee_work_search_form.employee }}
                            </div>
                            <div class="col-md-4">
                                <div class="input-group date date-picker margin-bottom-5" data-date-format="dd-mm-yyyy">
                                    {{ employee_work_search_form.start_date }}
                                    <span class="input-group-btn">
                                                <button class="btn btn-sm default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group date date-picker margin-bottom-5" data-date-format="dd-mm-yyyy">
                                    {{ employee_work_search_form.end_date }}
                                    <span class="input-group-btn">
                                                <button class="btn btn-sm default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12">
                    <hr>
                        <div class="clearfix">
                            <a href="javascript:;" onclick="search_employeeWorks()" class="btn blue btn-block"><i class="fa fa-search"></i> &nbsp; Search </a>
                        </div>
                    <hr>
                </div>
                <div class="col-md-12" id="total-time-div" style="display: none;">
                    <div class="portlet light bordered text-center" style="margin-top: 15px;">
                        <div class="portlet-title">
                            <div class="caption" style="    float: none;">
                                <i class="icon-cursor font-dark hide"></i>
                                Total time: <span class="caption-subject font-dark bold uppercase" id="total-time-value"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" id="employee-work-list">
                </div>
                <div class="col-md-12" style="text-align: center">
                    <img style="display: none;margin: 0 auto;" id="ajax-loader" src="{% static 'main/assets/images/gears.gif' %}">
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
{% endblock %}


{% block js_block %}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'main/assets/global/plugins/select2/js/select2.full.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/assets/pages/scripts/components-select2.min.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->

    <script src="{% static 'main/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/assets/global/plugins/datatables/datatables.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'main/assets/pages/scripts/table-datatables-responsive.min.js' %}"
            type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->


		<script type="text/javascript" src="{% static 'main/assets/jQuery-Rebox-master/lib/jquery-litelighter.js' %}"></script>
		<script type="text/javascript" src="{% static 'main/assets/jQuery-Rebox-master/jquery-rebox.js' %}"></script>

    <script>
        dateTimeOptions = {
            'format': 'dd-mm-yyyy',
            'autoclose': false,
            'showMeridian': true
        };
        $("input[name='start_date']").datepicker(dateTimeOptions);
        $("input[name='end_date']").datepicker(dateTimeOptions);
        {#widgets = {#}
        {#    #NOT Use localization and set a default format#}
        {#    'datetime': DateTimeWidget(options = dateTimeOptions)#}
        {#    }#}
    </script>
    <script>
{#        $('#id_employee').on('change', function () {#}
{#            alert(this.value);#}
{#            $('#selected-employee-name').text($(this).find("option:selected").text());#}
{#        })#}
    </script>
    <script>
           function search_employeeWorks() {


{#            var url = product_or_service_form.attr("action");#}
                var search_form = $('#employee_work_search_form');
                var employee_work_list = $('#employee-work-list');
                var total_time_value = $('#total-time-value');
                var total_time_div = $('#total-time-div');
               employee_work_list.html('');
               var ajax_loader = $('#ajax-loader');
                ajax_loader.show();
                total_time_div.hide();
                $.ajax({
                    url: '', // the endpoint,commonly same url
                    dataType: "json",
                    type: "POST",
                    data: search_form.serialize(),
                    success: function (result) {
                        total_time_div.show();
                        ajax_loader.hide();
                        employee_work_list.html(result['html']);
                        total_time_value.html(result['total_time']);
                        $('#selected-employee-name').text($('#id_employee').find("option:selected").text());
                    },
                    // handle a non-successful response
                    error: function (xhr, errmsg, err) {
                        ajax_loader.hide();

                    }
                });

            }

    </script>





{% endblock %}


