{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}

{% block title_container %}
    {% trans 'Places' %}
{% endblock %}


{% block head_container %}
{% endblock %}
{% block head_under_container %}

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="{% static 'main/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"
          rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS -->
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" type="text/css"/>#}
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" type="text/css"/>#}

{% endblock %}


{% block content_container %}

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{% trans 'Places' %}
{#                                <small>responsive extension demos</small>#}
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="{% url 'home:dashboard' %}">{% trans 'Dashboard' %}</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">{% trans 'Places' %}</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->

                    <div class="row">
                        {% if base_user_profile.user_type == 1 or base_user_profile.user_type == '1' %}
                            <div class="col-md-12">
                                <div class="clearfix">
                                    <a href="{% url 'home:company-create' %}" class="btn btn-lg green pull-right">
                                        {% trans 'Create' %} <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <hr/>
                            </div>
                        {% endif %}
                        {% if base_user_profile.user_type == 1 or base_user_profile.user_type == '1' %}
                            <div class="col-md-12">
                                <div class="clearfix">
                                    <a href="javascript:;" onclick="customerPalcesSearchForm('')" class="btn blue btn-block"><i class="fa fa-search"></i> &nbsp; Search </a>
                                </div>
                                <hr/>
                            </div>
                        {% endif %}
                        <div class="col-md-12">
                            <form method="post" action="" id="customer-palces-search-form">
                                {% csrf_token %}
                                {% if base_user_profile.user_type == 1 or base_user_profile.user_type == '1' %}
                                <div class="row">
                                    <div class="col-md-6 col-lg-offset-3 col-md-offset-3">
                                        {{ place_search_form.customer }}
                                    </div>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                        {% if base_user_profile.user_type == 1 or base_user_profile.user_type == '1' %}
                            <div class="col-md-12">
                                <hr>
                                    <div class="clearfix">
                                        <a href="javascript:;" onclick="customerPalcesSearchForm('')" class="btn blue btn-block"><i class="fa fa-search"></i> &nbsp; Search </a>
                                    </div>
                                <hr>
                            </div>
                        {% endif %}
                        <div class="col-md-12" id="main-data-content">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->

                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        <div class="col-md-12" style="text-align: center">
                            <img style="display: none;margin: 0 auto;" id="ajax-loader" src="{% static 'main/assets/images/gears.gif' %}">
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

{% endblock %}


{% block js_block %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>

    <script>
        var ajax_loader = $('#ajax-loader');
        var form = $('#customer-palces-search-form');
        var main_data_content = $('#main-data-content');
        function customerPalcesSearchForm($url) {
            main_data_content.html('');
            ajax_loader.show();
            $.post($url,form.serialize())
              .done(function(data) {
                ajax_loader.hide();
                if(data['message_code'] == 1){
                    main_data_content.html(
                        data['result_html']
                    )
                }
              }).fail(function () {
                ajax_loader.hide();
            });
        }
    </script>
    <script>

        {% if base_user_profile.user_type == 2 or base_user_profile.user_type == '2' %}
            $( document ).ready(function() {
                main_data_content.html('');
                ajax_loader.show();
                setTimeout(function(){
                    customerPalcesSearchForm('');
                    }, 1000);
            });

        {% endif %}
        {% if base_user_profile.user_type == 1 %}
            function deleteItem($pk,$url) {
            swal({
              title: 'Are you sure?',
              text: 'You will not be able to recover this imaginary file!',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!',
              cancelButtonText: 'No, cancel plx!',
              confirmButtonClass: 'confirm-class',
              cancelButtonClass: 'cancel-class',
              closeOnConfirm: false,
              closeOnCancel: false
            }).then(function () {
                $.post($url,{'csrfmiddlewaretoken':'{{ csrf_token }}'})
                    .done(function (data) {
                        $('#place-list-item-'+$pk).remove();
                        swal(
                          'Success',
                          data['message'],
                          'success'
                        );
                    })
                    .fail(function () {
                        swal(
                            '{% trans 'Error' %}',
                            '{% trans 'Error' %} :)',
                            'error'
                        )
                });
            }, function (dismiss) {
                // dismiss can be 'cancel', 'overlay',
                // 'close', and 'timer'
                if (dismiss === 'cancel') {
                    swal(
                        '{% trans 'cancelled' %}',
                        '{% trans 'cancelled_deleted' %} :)',
                        'error'
                    )
                }
            });

            }
        {% endif %}

    </script>
{% endblock %}

