{% extends 'main_base.html' %}
{% load i18n %}
{% load static %}
{% block title_container %}
                                    {% trans 'Place' %} - {% if place_obj %}{% trans 'Edit' %}{% else %}{% trans 'Create' %}{% endif %}
{% endblock %}


{% block head_container %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" type="text/css"/>
{#        <link href="{% static 'geoposition/geoposition.css' %}" type="text/css" media="all" rel="stylesheet"/>#}
        {{ place_form.media }}
{% endblock %}


{% block content_container %}


    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{% url 'home:dashboard' %}">Dashboard</a>
                    <i class="fa fa-circle"></i>
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light portlet-fit portlet-form bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">
                                    {% trans 'Place' %} - {% if place_obj %}{% trans 'Edit' %}{% else %}{% trans 'Create' %}{% endif %}
                                </span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <!-- BEGIN FORM-->
                            <form action="" method="post" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        {{ place_form.customer }}
                                        <label for="id_customer">{% trans 'customer' %}</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if place_form.customer.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ place_form.customer.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        {{ place_form.name }}
                                        <label for="id_name">{% trans 'Name' %}</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if place_form.name.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ place_form.name.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label">
                                        {{ place_form.address }}
                                        <label for="id_address">{% trans 'Address' %}</label>
                                        <span class="help-block">Some help goes here...</span>
                                        {% if place_form.address.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ place_form.address.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group form-md-line-input form-md-floating-label">

                                        <label for="id_address">{% trans 'Address' %}</label>
                                        {{ place_form.position }}
                                        {% if place_form.position.errors %}
                                            <div class="alert alert-danger" style="padding: 7px 0;">
                                                <button style="margin: 5px 10px;" type="button" class="close"
                                                        data-dismiss="alert" aria-hidden="true">
                                                    ×
                                                </button>
                                                <strong>{{ place_form.position.errors }}</strong>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn dark">Submit</button>
                                            <a href="javascript:;" class="btn default">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

{% endblock %}


{% block js_block %}


        <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>
    <script type="text/javascript" src="{% static 'geoposition/geoposition.js' %}"></script>


    {% if success_message %}
        <script>

            $(document).ready(function () {
                swal(
                    '{{ success_message }}',
                    '',
                    'success'
                );
            });

        </script>
    {% endif %}
{% endblock %}

