{% extends 'main_base.html' %}
{% load static %}
{% load i18n %}
{% block title_container %}
    {{ page_title }}
{% endblock %}


{% block head_container %}
{% endblock %}
{% block head_under_container %}

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'main/assets/global/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <style>
            .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-sm {
                padding: 6px 7px !important;
            }
        </style>
{% endblock %}


{% block content_container %}

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>{{ page_title }}
{#                                <small>responsive extension demos</small>#}
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="{% url 'home:dashboard' %}">Dashboard</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">{{ page_title }}</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->

                    <div class="row">
                        <div class="col-md-12">

                        </div>
                        <div class="col-md-12" id="main-content-data">

                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

{% endblock %}


{% block js_block %}

            <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{% static 'main/assets/global/scripts/datatable.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/datatables.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'main/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'main/assets/global/scripts/app.min.js' %}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'main/assets/pages/scripts/table-datatables-responsive.min.js' %}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <script>
            var ajax_loader_url = '/static/main/assets/images/gears.gif';
            var main_data_content = $('#main-content-data');

            function getGeneralUserData($url,$csrf) {
                main_data_content.html("<div class='text-center'><img style='margin: 10px auto;' src='" + ajax_loader_url + "'/></div>");

                $.post($url,{'csrfmiddlewaretoken':$csrf})
                    .done(function (data) {
                        main_data_content.html(data['result'])
                    })
                    .fail(function () {
                        
                    })
            }
            $( document ).ready(function() {
                getGeneralUserData('', '{{ csrf_token }}');
            });
        </script>


    <script>

            {% if base_user_profile.user_type == 1 %}
            function deleteItem($pk,$url) {
            swal({
              title: 'Are you sure?',
              text: 'You will not be able to recover this imaginary file!',
              type: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!',
              cancelButtonText: 'No, cancel plx!',
              confirmButtonClass: 'confirm-class',
              cancelButtonClass: 'cancel-class',
              closeOnConfirm: false,
              closeOnCancel: false
            }).then(function () {
                $.post($url,{'csrfmiddlewaretoken':'{{ csrf_token }}'})
                    .done(function (data) {
                        $('#list-item-'+$pk).remove();
                        swal(
                          'Success',
                          data['message'],
                          'success'
                        );
                    })
                    .fail(function () {
                        swal(
                            '{% trans 'Error' %}',
                            '{% trans 'Error' %} :)',
                            'error'
                        )
                });
            }, function (dismiss) {
                // dismiss can be 'cancel', 'overlay',
                // 'close', and 'timer'
                if (dismiss === 'cancel') {
                    swal(
                        '{% trans 'cancelled' %}',
                        '{% trans 'cancelled_deleted' %} :)',
                        'error'
                    )
                }
            });

            }
        {% endif %}

    </script>


{% endblock %}

