{% load static %}
{% load i18n %}


{#{% for employee_get_plans_w_d_get_location in employee_get_plans_w_d.get_locations %}#}
    <li class="todo-projects-item {{ employee_get_plans_w_d }} {% if forloop.counter == 1 %}todo-active{% endif %}">
        <h3 class="todo-blue">{{ employee_get_plans_w_d_get_location.location.name }}</h3>
        <p>{{ employee_get_plans_w_d_get_location.location.address }}</p>
        <div class="todo-project-item-foot">
            <p class="todo-red todo-inline"> {{ employee_get_plans_w_d_get_location.location.minute }} {% trans 'Minutes' %}</p>

        </div>
    </li>
    <div class="todo-projects-divider"></div>
{#{% endfor %}#}








